<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body class = "d-flex flex-column min-vh-100">

{{>user_nav-bar.hbs}}

<div style="text-align: center;">
    <h1 style="color: #000;" >CREACION DE TRAYECTO EXITOSA</h1>
    <hr/>


    <h4 style="color: #000;" >REGISTRE OTRO TRAYECTO</h4>

    <h4 style="color: #000;" >REGISTRE MAS TRAMOS</h4>
</div>



</body>
</html>
