<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Impacto Ambiental</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body class = "d-flex flex-column min-vh-100">

   {{>user_nav-bar.hbs}}

        <div>

        <div style="text-align: center;"> <h1 style="color: #000;" >REGISTRAR TRAMO</h1></div>

        <div style="padding-left: 25px;">
            <h5> 1) Ingrese un nombre para identificar al tramo </h5>
            <h5> 2) Seleccione el transporte del tramo </h5>
            <h5> 3) Confirme la creacion del tramo </h5>
        </div>
        <hr/>

        </div>


   <form action="/user/menu/registrartramo/created" method="POST">
        <div  style="text-align: center ;" class="form-group mt-3" style="width: 500px ">
            <input placeholder="Ingrese un nombre para identificar al tramo" type="text" id="name" name="nombreTramo"  required  style="width: 500px ">
        </div>
        <hr/>

    </div>

    <div class="container text-center">
        <div class="row">
          <div class="col">

            <div>
                <li style="list-style:none;">
                    <input type="radio" name="preg1" value="1" onclick="activarElementosDelTransportePublico()"/> <strong>TRANSPORTE PUBLICO</strong>
                </li>

                <div style="margin: 10px;">
                    <select id="elemTransportePublico1" placeholder="Seleccione Tipo Transporte" disabled="" class="custom-select" name="TipoTransporte"  required>
                        <!-- todo: hacer un get de paradas y desplegarlas -->
                        <option disabled value="">Seleccione Tipo Transporte</option>
                        <option value="FERROCARRIL">FERROCARRIL</option>
                        <option value="SUBTERRANEO">SUBTERRANEO</option>
                        <option value="COLECTIVO">COLECTIVO</option>
                    </select>
                </div>

                <div style="margin: 10px;">
                <input id="elemTransportePublico2" placeholder="Ingrese Linea Transporte" disabled="" class="custom-select" name="LineaTransporte"    required>
                </div>

                <div style="margin: 10px;">
                    <input id="elemTransportePublico3" placeholder="Ingrese Ubicacion Inicial" disabled=""  class="custom-select" name="ParadaInicio"  required>
                </div>

                <div style="margin: 10px;">
                    <input id="elemTransportePublico4" placeholder="Ingrese Ubicacion Final" disabled="" class="custom-select" name="ParadaFin"   required>
                </div>
            </div>
        </div>


          <div class="col">
            <li style="list-style:none;">
                <input onclick="activarElementosDelServicioContratado()" type="radio" name="preg1" value="2" /><strong>SERVICIO CONTRATADO</strong>
            </li>

            <div style="margin: 10px;">
                <input id="elemServicioContratado1" disabled="" class="test" placeholder="Ingrese Nombre Servicio Contratado" type="text" id="name" name="nameServicio"  required
                       maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input id="elemServicioContratado2" disabled="" class="test" placeholder="Ingrese Ubicacion Inicio del Tramo" type="text" id="name" name="ubicacionInicioServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemServicioContratado3" disabled=""  placeholder="Ingrese la altura inicial" type="number" id="name" name="alturaInicialServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemServicioContratado4" disabled=""  placeholder="Ingrese la localidad inicial" type="number" id="name" name="localidadInicialServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input id="elemServicioContratado5" disabled="" placeholder="Ingrese Ubicacion Final del Tramo" type="text" id="name" name="ubicacionFinalServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemServicioContratado6" disabled=""  placeholder="Ingrese la altura final" type="number" id="name" name="alturaFinalServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemServicioContratado7" disabled=""  placeholder="Ingrese la localidad final" type="number" id="name" name="localidadFinalServicio"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

          </div>


          <div class="col">

            <li style="list-style:none;">
                <input type="radio" name="preg1" value="3" onclick="activarElementosDeEcoFriendly()"  /><strong>ECOFRIENDLY</strong>
            </li>

            <div style="margin: 10px;">
                <input id="elemEcoFriendly1" disabled="" placeholder="Ingrese Ubicacion Inicio del Tramo" type="text" id="name" name="ubicacionInicioEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

           <div style="margin: 10px;">
                <input id="elemEcoFriendly2" disabled="" placeholder="Ingrese la altura inicial" type="number" id="name" name="alturaInicialEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

           <div style="margin: 10px;">
                <input id="elemEcoFriendly3" disabled="" placeholder="Ingrese la localidad inicial" type="number" id="name" name="localidadInicialEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemEcoFriendly4" disabled=""  placeholder="Ingrese Ubicacion Final del Tramo" type="text" id="name" name="ubicacionFinalEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemEcoFriendly5" disabled=""  placeholder="Ingrese la altura inicial" type="number" id="name" name="alturaFinalEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

           <div style="margin: 10px;">
                <input id="elemEcoFriendly6" disabled="" placeholder="Ingrese la altura final" type="number" id="name" name="localidadFinalEco"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

          </div>


          <div class="col">


            <li style="list-style:none;">
                <input id="" onclick="activarElementosDeVehiculoParticular()" type="radio" name="preg1" value="4" /> <strong>VEHICULO PARTICULAR</strong>
            </li>

            <div class="elementosDelVehiculoParticular">
            <div style="margin: 10px;">
            <select id="elemVehiculoParticular1" disabled="" class="custom-select" name="tipoVehiculo"    required>
                <!-- todo: hacer un get de paradas y desplegarlas -->
                <option  value="">Seleccione Tipo Vehiculo...</option>
                <option  value="MOTO">MOTO</option>
                <option  value="AUTO">AUTO</option>
                <option  value="CAMIONETA">CAMIONETA</option>

            </select>
            </div>

            <div style="margin: 10px;">
            <select id="elemVehiculoParticular2" disabled="" class="custom-select" name="combustibleVehiculo"   required>
                <!-- todo: hacer un get de linea y desplegarlas -->
                <option disabled value="">Seleccione combustible utilizado</option>
                <option  value="GNC">GNC</option>
                <option  value="NAFTA">NAFTA</option>
                <option  value="ELECTRICO">ELECTRICO</option>
                <option  value="GASOIL">GASOIL</option>

            </select>
            </div>

            <div style="margin: 10px;">
                <input id="elemVehiculoParticular3" disabled="" placeholder="Ingrese Ubicacion Inicio del Tramo" type="text" id="name" name="ubicacionInicioVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemVehiculoParticular4" disabled=""  placeholder="Ingrese la altura inicial" type="number" id="name" name="alturaInicialVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemVehiculoParticular5" disabled=""  placeholder="Ingrese la localidad inicial" type="number" id="name" name="localidadInicialVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input id="elemVehiculoParticular6" disabled="" placeholder="Ingrese Ubicacion Final del Tramo" type="text" id="name" name="ubicacionFinalVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemVehiculoParticular7" disabled=""  placeholder="Ingrese la altura final" type="number" id="name" name="alturaFinalVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

            <div style="margin: 10px;">
                <input  id="elemVehiculoParticular8" disabled=""  placeholder="Ingrese la localidad final" type="number" id="name" name="localidadFinalVehiculo"  required
                maxlength="25" size="25" style="width: 250px ">
            </div>

          </div>


        </div>
        </div>
      </div>

      <hr>

    <div style="text-align:center; padding: 25px; " >
        <button style="width:300px; height: 50px; font-size:25px;" type="submit" class="btn btn-success">Confirmar Tramo</button>
    </div>
</form>





<script type="text/javascript">

    function activarElementosDelTransportePublico(){

        document.getElementById('elemTransportePublico1').disabled=false;
        document.getElementById('elemTransportePublico2').disabled=false;
        document.getElementById('elemTransportePublico3').disabled=false;
        document.getElementById('elemTransportePublico4').disabled=false;

    limpiarYBloquearValoresQueNoSonTransportePublico();

    }


    function activarElementosDelServicioContratado(){

        document.getElementById('elemServicioContratado1').disabled=false;
        document.getElementById('elemServicioContratado2').disabled=false;
        document.getElementById('elemServicioContratado3').disabled=false;
        document.getElementById('elemServicioContratado4').disabled=false;
        document.getElementById('elemServicioContratado5').disabled=false;
        document.getElementById('elemServicioContratado6').disabled=false;
        document.getElementById('elemServicioContratado7').disabled=false;

        limpiarYBloquearValoresQueNoServicioContratado();
    }

    function activarElementosDeEcoFriendly(){
        document.getElementById('elemEcoFriendly1').disabled=false;
        document.getElementById('elemEcoFriendly2').disabled=false;
        document.getElementById('elemEcoFriendly3').disabled=false;
        document.getElementById('elemEcoFriendly4').disabled=false;
        document.getElementById('elemEcoFriendly5').disabled=false;
        document.getElementById('elemEcoFriendly6').disabled=false;

        limpiarYBloquearValoresQueNoSonEcoFriendly();
    }

    function activarElementosDeVehiculoParticular(){
        document.getElementById('elemVehiculoParticular1').disabled=false;
        document.getElementById('elemVehiculoParticular2').disabled=false;
        document.getElementById('elemVehiculoParticular3').disabled=false;
        document.getElementById('elemVehiculoParticular4').disabled=false;
        document.getElementById('elemVehiculoParticular5').disabled=false;
        document.getElementById('elemVehiculoParticular6').disabled=false;
        document.getElementById('elemVehiculoParticular7').disabled=false;
        document.getElementById('elemVehiculoParticular8').disabled=false;

        limpiarYBloquearValoresQueNoSonVehiculoParticular();
    }





//------------------------- LIMPIANDO VALORES ---------------------------//
    function limpiarYBloquearValoresQueNoSonTransportePublico(){
        document.getElementById('elemServicioContratado1').disabled=true;
        document.getElementById('elemServicioContratado2').disabled=true;
        document.getElementById('elemServicioContratado3').disabled=true;
        document.getElementById('elemServicioContratado4').disabled=true;
        document.getElementById('elemServicioContratado5').disabled=true;
        document.getElementById('elemServicioContratado6').disabled=true;
        document.getElementById('elemServicioContratado7').disabled=true;

        document.getElementById("elemServicioContratado1").value = "";
        document.getElementById("elemServicioContratado2").value = "";
        document.getElementById("elemServicioContratado3").value = "";
        document.getElementById("elemServicioContratado4").value = "";
        document.getElementById("elemServicioContratado5").value = "";
        document.getElementById("elemServicioContratado6").value = "";
        document.getElementById("elemServicioContratado7").value = "";

        document.getElementById('elemEcoFriendly1').disabled=true;
        document.getElementById('elemEcoFriendly2').disabled=true;
        document.getElementById('elemEcoFriendly3').disabled=true;
        document.getElementById('elemEcoFriendly4').disabled=true;
        document.getElementById('elemEcoFriendly5').disabled=true;
        document.getElementById('elemEcoFriendly6').disabled=true;

        document.getElementById("elemEcoFriendly1").value = "";
        document.getElementById("elemEcoFriendly2").value = "";
        document.getElementById("elemEcoFriendly3").value = "";
        document.getElementById("elemEcoFriendly4").value = "";
        document.getElementById("elemEcoFriendly5").value = "";
        document.getElementById("elemEcoFriendly6").value = "";

        document.getElementById('elemVehiculoParticular1').disabled=true;
        document.getElementById('elemVehiculoParticular2').disabled=true;
        document.getElementById('elemVehiculoParticular3').disabled=true;
        document.getElementById('elemVehiculoParticular4').disabled=true;
        document.getElementById('elemVehiculoParticular5').disabled=true;
        document.getElementById('elemVehiculoParticular6').disabled=true;
        document.getElementById('elemVehiculoParticular7').disabled=true;
        document.getElementById('elemVehiculoParticular8').disabled=true;

        document.getElementById("elemVehiculoParticular1").value = "";
        document.getElementById("elemVehiculoParticular2").value = "";
        document.getElementById("elemVehiculoParticular3").value = "";
        document.getElementById("elemVehiculoParticular4").value = "";
        document.getElementById("elemVehiculoParticular5").value = "";
        document.getElementById("elemVehiculoParticular6").value = "";
        document.getElementById("elemVehiculoParticular7").value = "";
        document.getElementById("elemVehiculoParticular8").value = "";
    }


    function limpiarYBloquearValoresQueNoServicioContratado(){
        document.getElementById('elemTransportePublico1').disabled=true;
        document.getElementById('elemTransportePublico2').disabled=true;
        document.getElementById('elemTransportePublico3').disabled=true;
        document.getElementById('elemTransportePublico4').disabled=true;

        document.getElementById("elemTransportePublico1").value = "";
        document.getElementById("elemTransportePublico2").value = "";
        document.getElementById("elemTransportePublico3").value = "";
        document.getElementById("elemTransportePublico4").value = "";


        document.getElementById('elemEcoFriendly1').disabled=true;
        document.getElementById('elemEcoFriendly2').disabled=true;
        document.getElementById('elemEcoFriendly3').disabled=true;
        document.getElementById('elemEcoFriendly4').disabled=true;
        document.getElementById('elemEcoFriendly5').disabled=true;
        document.getElementById('elemEcoFriendly6').disabled=true;

        document.getElementById("elemEcoFriendly1").value = "";
        document.getElementById("elemEcoFriendly2").value = "";
        document.getElementById("elemEcoFriendly3").value = "";
        document.getElementById("elemEcoFriendly4").value = "";
        document.getElementById("elemEcoFriendly5").value = "";
        document.getElementById("elemEcoFriendly6").value = "";

        document.getElementById('elemVehiculoParticular1').disabled=true;
        document.getElementById('elemVehiculoParticular2').disabled=true;
        document.getElementById('elemVehiculoParticular3').disabled=true;
        document.getElementById('elemVehiculoParticular4').disabled=true;
        document.getElementById('elemVehiculoParticular5').disabled=true;
        document.getElementById('elemVehiculoParticular6').disabled=true;
        document.getElementById('elemVehiculoParticular7').disabled=true;
        document.getElementById('elemVehiculoParticular8').disabled=true;

        document.getElementById("elemVehiculoParticular1").value = "";
        document.getElementById("elemVehiculoParticular2").value = "";
        document.getElementById("elemVehiculoParticular3").value = "";
        document.getElementById("elemVehiculoParticular4").value = "";
        document.getElementById("elemVehiculoParticular5").value = "";
        document.getElementById("elemVehiculoParticular6").value = "";
        document.getElementById("elemVehiculoParticular7").value = "";
        document.getElementById("elemVehiculoParticular8").value = "";
    }


    function limpiarYBloquearValoresQueNoSonVehiculoParticular(){
        document.getElementById('elemTransportePublico1').disabled=true;
        document.getElementById('elemTransportePublico2').disabled=true;
        document.getElementById('elemTransportePublico3').disabled=true;
        document.getElementById('elemTransportePublico4').disabled=true;

        document.getElementById("elemTransportePublico1").value = "";
        document.getElementById("elemTransportePublico2").value = "";
        document.getElementById("elemTransportePublico3").value = "";
        document.getElementById("elemTransportePublico4").value = "";



        document.getElementById('elemEcoFriendly1').disabled=true;
        document.getElementById('elemEcoFriendly2').disabled=true;
        document.getElementById('elemEcoFriendly3').disabled=true;
        document.getElementById('elemEcoFriendly4').disabled=true;
        document.getElementById('elemEcoFriendly5').disabled=true;
        document.getElementById('elemEcoFriendly6').disabled=true;

        document.getElementById("elemEcoFriendly1").value = "";
        document.getElementById("elemEcoFriendly2").value = "";
        document.getElementById("elemEcoFriendly3").value = "";
        document.getElementById("elemEcoFriendly4").value = "";
        document.getElementById("elemEcoFriendly5").value = "";
        document.getElementById("elemEcoFriendly6").value = "";

        document.getElementById("elemServicioContratado1").value = "";
        document.getElementById("elemServicioContratado2").value = "";
        document.getElementById("elemServicioContratado3").value = "";
        document.getElementById("elemServicioContratado4").value = "";
        document.getElementById("elemServicioContratado5").value = "";
        document.getElementById("elemServicioContratado6").value = "";
        document.getElementById("elemServicioContratado7").value = "";

        document.getElementById('elemServicioContratado1').disabled=true;
        document.getElementById('elemServicioContratado2').disabled=true;
        document.getElementById('elemServicioContratado3').disabled=true;
        document.getElementById('elemServicioContratado4').disabled=true;
        document.getElementById('elemServicioContratado5').disabled=true;
        document.getElementById('elemServicioContratado6').disabled=true;
        document.getElementById('elemServicioContratado7').disabled=true;

    }

    function limpiarYBloquearValoresQueNoSonEcoFriendly(){
        document.getElementById('elemTransportePublico1').disabled=true;
        document.getElementById('elemTransportePublico2').disabled=true;
        document.getElementById('elemTransportePublico3').disabled=true;
        document.getElementById('elemTransportePublico4').disabled=true;

        document.getElementById("elemTransportePublico1").value = "";
        document.getElementById("elemTransportePublico2").value = "";
        document.getElementById("elemTransportePublico3").value = "";
        document.getElementById("elemTransportePublico4").value = "";


        document.getElementById('elemVehiculoParticular1').disabled=true;
        document.getElementById('elemVehiculoParticular2').disabled=true;
        document.getElementById('elemVehiculoParticular3').disabled=true;
        document.getElementById('elemVehiculoParticular4').disabled=true;
        document.getElementById('elemVehiculoParticular5').disabled=true;
        document.getElementById('elemVehiculoParticular6').disabled=true;
        document.getElementById('elemVehiculoParticular7').disabled=true;
        document.getElementById('elemVehiculoParticular8').disabled=true;

        document.getElementById("elemVehiculoParticular1").value = "";
        document.getElementById("elemVehiculoParticular2").value = "";
        document.getElementById("elemVehiculoParticular3").value = "";
        document.getElementById("elemVehiculoParticular4").value = "";
        document.getElementById("elemVehiculoParticular5").value = "";
        document.getElementById("elemVehiculoParticular6").value = "";
        document.getElementById("elemVehiculoParticular7").value = "";
        document.getElementById("elemVehiculoParticular8").value = "";

        document.getElementById("elemServicioContratado1").value = "";
        document.getElementById("elemServicioContratado2").value = "";
        document.getElementById("elemServicioContratado3").value = "";
        document.getElementById("elemServicioContratado4").value = "";
        document.getElementById("elemServicioContratado5").value = "";
        document.getElementById("elemServicioContratado6").value = "";
        document.getElementById("elemServicioContratado7").value = "";

        document.getElementById('elemServicioContratado1').disabled=true;
        document.getElementById('elemServicioContratado2').disabled=true;
        document.getElementById('elemServicioContratado3').disabled=true;
        document.getElementById('elemServicioContratado4').disabled=true;
        document.getElementById('elemServicioContratado5').disabled=true;
        document.getElementById('elemServicioContratado6').disabled=true;
        document.getElementById('elemServicioContratado7').disabled=true;

    }



</script>
<!-- ---------------------------SCRIPT---------------------------- -->

</body>