<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
    <link rel="icon" type="image/png" href="todo: icono q aparece en la pestania"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body class = "d-flex flex-column min-vh-100">


<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
          <img style="width:50px" src="../../imagenes/logos_web/plantita1.png" />
        <a class="navbar-brand" href="../admin/admin_principal.html">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pr-4">
                    <a class="nav-link active text-white" aria-current="page" href="../user/menu">Menu</a><!--MANDAR AL MENU DE USUARIO-->
                </li>
                <li class="nav-item pr-4">
                    <form action="/session/delete" method="POST">
                        <button style="background-color:#242c2c;border-color:#242c2c" type="submit" class="nav-link active text-white">
                            Cerrar sesion
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div>
    <div style="text-align: center ;" class="form-group mt-3" style="width: 500px ">
        <h1>MENU</h1>
        <div style="text-align: center ;" class="form-group mt-3">
            <sub><H5>¿Que desea hacer?</H5></sub>
        </div>

        <div>
        <a style="margin-top:20px;width: 500px;" type="button" class="btn btn-primary" href="./menu/registrartrayecto">Registrar Trayecto</a>
        </div>
        <div>
            <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary " href="./menu/registrartramo">Registrar Tramos</a>
        </div>

        <!--  en caso de que los usuarios tengan que ver reportes, descomentar
        <div>
            <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="./menu/menureportes">Ver Reportes</a>
        </div>-->

        <div>
            <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="./menu/calculohc">Calcular mi HC</a>
        </div>

        <div>
            <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="./menu/misorganizaciones">Ver mis organizaciones</a>
        </div>

        <div>
            <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="./menu/vincularaorganizacion">Solicitar Alta En Organizacion</a>
        </div>
    </div>
</div>

</body>