
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../estiloSelectYBoton.css">
</head>


<body class = "d-flex flex-column min-vh-100">

{{>user_nav-bar.hbs}}


    <div style="text-align: center ; ">

        <div>
            <h1 class="mt-5">CALCULADORA DE HC</h1>
            <hr>
        </div>


        <div  class="col-3 mt-5" style="margin:0px auto; " >

            <div style="padding-left: 30px; padding-top: 30px; border-radius:25px ; background-color:#2596be; width: 500px;  height:300px;">

                <form action="valorcalculohc" method="GET" >



                    <h5>Elegir organizacion:</h5>
                    <div style="margin-left:  20%; width:200px;" class="content-select form-group">
                        <select required id="select_org"  name="id_org">
                            {{#each organizaciones}}
                                <option value="{{id}}"> {{razonSocial}} </option>
                            {{/each}}
                        </select>
                        <i></i>
                    </div>

                    <h5> Elegir periodo:</h5>
                    <div style="margin-left:  20%; width:200px;" class="content-select form-group">
                    <select id="select_periodo"  name="periodo"  required>
                        <option value="ANUAL"> ANUAL </option>
                        <option value="MENSUAL"> MENSUAL </option>
                    </select>
                        <i></i>
                    </div>

                    <button style="width:300px; margin-top:1%;margin-left:10%;" class="boton verde" type="submit" value="Submit" > <span> Calcular</span></button>

                </form>
            </div>

        </div>

    </div>



    </body>


</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../estiloSelectYBoton.css">

</head>


