<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Impacto Ambiental</title>
    <link rel="icon" type="image/png" href="todo: icono q aparece en la pestania"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body class = "d-flex flex-column min-vh-100">

{{>user_nav-bar.hbs}}

<div>

    <div style="text-align: center;"> <h1 style="color: #000;" >TRAMO REGISTRADO EXITOSAMENTE</h1></div>

    <div style="padding:15px">
        <div>
        <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="../../registrartramo">
            REGISTRAR UN NUEVO TRAMO</a>
        </div>

        <div style="padding:15px">
        <h5> 3) ¿Ya cargaste todos los tramos de tu trayecto? Añadilos! </h5>
        <a style="margin-top:25px;width: 500px;" type="button" class="btn btn-primary" href="../../registrartrayecto">REGISTRAR TRAYECTO</a>
        </div>

    </div>
    <hr/>

</div>






</body>