<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../tablaVerMisTramos.css">
</head>


<body class = "d-flex flex-column min-vh-100">

<div>
    <div style="text-align: center ;" class="form-group mt-3" style="width: 500px ">
        <h1>MIS TRAYECTOS</h1>
        <hr>
    </div>
</div>


    <div class="row gx-5">


        <div class="col">
            <div class="p-3 border bg-light">
                <form   action="registrarmedicionesFORMULARIO" method="POST"  >

                    <select style="margin-left: 25px; width: 250px;" id="producto" name="tipo_consumo">
                        <option value="" disabled selected>Selecciones  tipos de consumo</option>
                        <option value="GAS_NATURAL"> NAFTA </option>
                        <option value="GAS_NATURAL"> COMBUSTIBLE_CONSUMIDO_GASOIL </option>
                        <option value="GAS_NATURAL"> COMBUSTIBLE_CONSUMIDO_NAFTA </option>
                        <option value="GAS_NATURAL"> ELECTRICIDAD </option>
                        <option value="GAS_NATURAL"> CAMION_DE_CARGA </option>
                        <option value="GAS_NATURAL"> UTILITARIO_LIVIANO </option>
                        <option value="GAS_NATURAL"> DISTANCIA_MEDIA_RECORRIDA </option>
                        <option value="GAS_NATURAL"> DIESEL_GASOIL </option>
                    </select>

                    <div style="margin-top:1%">
                    <select style="margin-left: 25px; width: 250px;"  id="" name="periodo" required>
                        <option value="" disabled selected>Seleccione periodicidad</option>
                        <option value="MENSUAL"> MENSUAL </option>
                        <option value="ANUAL"> ANUAL </option>
                    </select></div>

                    <div style="margin-top:1%">
                    <input id="numero" type="number" min="1" pattern="^[0-9]+" required>
                    </div>

                    <div style="margin-top:1%">
                    <input type="date"  name="periodo_imputacion" max="100" required> </div>

                    <button style="width:300px;margin-top: 50px;" type="submit" class="btn btn-success">Enviar</button>


                </form>
            </div>
        </div>



        <!-- SEGUNDA COLUMNA-->
        <div class="col">
            <div class="p-3 border bg-light">
                <h4>Seleccione su archivo CSV:</h4>
                <hr>
                <input style="width:500px;" type="file" name="archivoCSV">
                <button style="width:300px;margin-top: 50px;" type="submit" class="btn btn-success">Enviar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>