<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../../estiloSelectYBoton.css">
    <link rel="stylesheet" type="text/css" href="../../../nav_bar.css">
</head>


<body class = "d-flex flex-column min-vh-100">

{{>org_nav-bar.hbs}}

<div style=" text-align:center;">

    <div style="margin: 25px;">
        <h1> COMPOSICION DE HC DE UNA ORGANIZACION</h1>
    </div>


    <div style="margin-top:30px;"><button style="width:300px; " type="button" class="btn btn-success">Mostrar grafico</button></div>

    <div class="grafico">
        <div class="sombra"></div>
        <div id="porcion1" class="recorte"><div class="quesito" data-rel="1"></div></div>
        <div id="porcion2" class="recorte"><div class="quesito" data-rel="2"></div></div>

    </div>


</div>
</div>

<div style="margin-left:40%;">


    <table style="border-collapse:separate;
              border-spacing: 10px 5px;">
        <tr >
            <th>Valor HC</th>
            <th>componente</th>
        </tr>

        <tr>
            <td>{{valorDeTramos}}</td>
            <td>TRAMOS</td>
        </tr>

        <tr>
            <td>{{valorDA}}</td>
            <td>DATOS DE ACTIVIDAD</td>
        </tr>

    </table>

</div>

</body>

</html>