<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
    <link rel="icon" type="image/png" href="todo: icono q aparece en la pestania"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class = "d-flex flex-column min-vh-100">


<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
          <img style="width:50px" src="../../imagenes/logos_web/plantita1.png" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pr-4">
                    <a class="nav-link active text-white" aria-current="page" href="../org/menu">Menu</a>
                </li>
                <li class="nav-item pr-4">
                  <form action="/session/delete" method="POST">
                     <button style="background-color:#242c2c;border-color:#242c2c" type="submit" class="nav-link active text-white">
                        Cerrar sesion
                     </button>
                   </form>
                </li>
        </div>
    </div>
</nav>

<div>
    <div style="text-align: center ;" class="form-group mt-3" style="width: 500px ">
        <h1>MENU</h1>
        <div style="text-align: center ;" class="form-group mt-3">
            <sub><H5>¿Que desea hacer?</H5></sub>
        </div>

        <div style="  margin:0px auto;">
            <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" href="menu/solicitudesdevinculacion" >Aceptar vinculación de trabajadores</a>
        </div>

        <div>
            <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" href="menu/registrarfactoresdeemision" >Registrar Factores Emisión</a>
        </div>

        <div>
            <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" href="menu/calculoHC" >Calcular mi HC</a>
        </div>

        <!--
        <div> ESTO NO TIENE LINK A NADA PORQUE NO NOS DICEN COMO FUNCIONA :D-
            <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" >Guia de recomendaciones</a>
        </div>-->

        <div>
            <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" href="menu/mismiembros" >Ver mis miembros</a>
        </div>

         <div>
             <a type="button" class="btn btn-primary" style="width: 500px;margin-top: 30px;" href="menu/menureportes" >Ver Reportes</a>
         </div>


    </div>

</div>



</body>