<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body style="background-color: #78acd4;">

<!--
<div style="text-align: center;">
<img src="D:\Usuarios\Usuario\Downloads\error-404.jpg" alt="error">
</div>-->

<div style="text-align: center; " >

    <div style="margin-top:10%;"><h1 style="font-size:700%; color: white;">404</h1>  </div>
    <div style="padding:1%;"><h4 style="font-size:400%; color: white;">Lo sentimos, la página no esta disponible</h4>  </div>
    <div><img src='../imagenes/logosEco/bulb_2.png' alt="error"></div>



</div>

</body>
</html>