<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 2</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>



<body class = "d-flex flex-column min-vh-100">

<nav id='menu'>
    <link rel="stylesheet" type="text/css" href="../../nav_bar.css">
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><img style="width:50px" src="../../imagenes/logos_web/plantita1.png" /></li>
        <li><a href="./home">Home</a></li>
        <li><a >Iniciar Sesión</a></li>
        <li><a href="./register">Registrarse</a></li>
    </ul>
</nav>


<div style=" text-align:center;">

    <div style="margin: 25px;">
        <h1> INICIAR SESION</h1>
    </div>

</div>


<section class="form-section container">

    <form action="/session" method="POST">

        <div >



            <div style=" margin-top: 15px; margin-left: 27%;" >
                <input  style="text-align: center ;width: 500px ;" placeholder="Ingrese su usuario: " type="text" class="form-control" id="nombreInput" name="nombre" value="{{ nombre }}">
            </div>

            <div style=" margin-top: 15px; margin-left: 27%;" >
                <input  style="text-align: center ;width: 500px ;"  placeholder="Ingrese su contraseña: " type="password" class="form-control" id="passwordInput" name="password" value="{{ password }}">
            </div>

            <div style=" margin-top: 15px; margin-left: 27%; "  >
                <button style="width: 500px ;" type="submit" class="btn btn-success" class="btn btn-success">  Ingresar </button>
            </div>

        </div>
    </form>

</section>


</body>
</html>
