<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>
    <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class = "d-flex flex-column min-vh-100">

    <nav id='menu'>
        <link rel="stylesheet" type="text/css" href="../../nav_bar.css">
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><img style="width:50px" src="../../imagenes/logos_web/plantita1.png" /></li>
            <li><a href="./home">Home</a></li>
            <li><a href="./login">Iniciar Sesi칩n</a></li>
            <li><a>Registrarse</a></li>
        </ul>
    </nav>

    <div style=" text-align:center;">

        <div style="margin: 25px;">
            <h1> Registrate</h1>
            <h6> Es r치pido y sencillo</h6>
        </div>


    </div>

    <section class="form-section container">

        <form  method="POST" action = "/register/createuser/created" style="text-align: center ;" > <!-- agregar action y metodo HTTP ej POST-->


            <div  style="text-align: center ;" class="form-group mt-3" style="width: 500px " >
              <input placeholder="Ingrese su Nombre " type="text" id="name" name="nombre" required
              maxlength="50" size="50" style="width: 500px ">
            </div>

            <div  style="text-align: center ;" class="form-group mt-3" style="width: 500px " >
                <input placeholder="Ingrese su  Apellido" type="text" id="name" name="apellido" required
                       maxlength="50" size="50" style="width: 500px ">
            </div>

            <div  style="text-align: center ;text-align: center ;" class="form-group mt-3" style="width: 500px ">
              <input placeholder="Ingrese su usuario" type="text" id="name" name="user" required
              maxlength="25" size="25" style="width: 500px ">
            </div>

            <div  style="text-align: center ;" class="form-group mt-3" style="width: 500px ">
                <input placeholder="Ingrese su Documento" type="number" id="name" name="documento" required
                maxlength="25" size="25" style="width: 500px ">
            </div>
                   <div style="margin: 20px ; ">
                       <select style="width: 500px;" class="custom-select" name="tipoDocumento"   required>

                        <option  disabled value="">Seleccione tipo de documento...</option>
                           <option  value="0">dni</option>
                           <option  value="1">libreta</option>
                        <option  value="2">pasaporte</option>


            </select>
            </div><!--  en el valor mando lo q le voy a tocar a la peticion y tengo q saber desde el back cual es para identificarlo-->


            <div style="text-align: center ;" class="form-group mt-3" style="width: 500px">
              <input placeholder="Ingrese su contrase침a" type="password" id="inputPassword" name="contrasenia" class="pull-center" aria-describedby="passwordHelpBlock"  style="width: 500px " >
            </div>

            <!--
          <div style="text-align: center ;" class="form-group mt-3" style="width: 500px">
              <input placeholder="Confirme su contrase침a" type="password" id="inputPassword"  class="pull-center" aria-describedby="passwordHelpBlock"  style="width: 500px " >
          </div>-->

          <div style="margin-top: 15px;">

              <button  style="width: 500px " type="submit" class="btn btn-success" >Registrarse</button> <!--href="register/createuser"-->
            </div>


        </form>
        </section>

        <script>

            // si le pasamos el tramo, llenamos los input y seleccionamos los select
            //document.getElementById("servicio").value = {{tramo.tipoTransporte.id}};
            //document.getElementById("esCompartido").checked = {{tramo.esCompartido}};
            //cargarDirecciones();


            //alert(document.getElementById("servicio").value );
            //alert(document.getElementById("esCompartido").checked);
            //cargarDirecciones();

        </script>


</body>
</html>