.content-input input,
.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select{
    max-width: 250px;
    position: relative;
}

.content-select select{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family:
            'Quicksand', sans-serif;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover{
    background: #B1E8CD;
}

/*
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left:4px solid #2AC176;
    border-bottom:4px solid #2AC176;
    transform: rotate(-45deg); /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover i{
    margin-top: 3px;
}




/* --------------------------- CODIGO PARA LOS BOTONES ---------------------*/



a.boton{
    position: relative;
    display: block;
    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 65px;
    margin-bottom: 60px;
    overflow: hidden;
    color:rgba(255,255,255,1);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
    transition: all ease 0.5s;
    background:#10B87B;
}

a.boton:after,
a.boton:before{
    width: 80px;
    height: 200px;
    content: '';
    display: block;
    background: rgba(255,255,255,0.5);
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right:-45%;
    cursor: pointer;
}

a.boton:before{
    left: -48%;
}

a.boton:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#12C987
}

a.boton:hover:after,
a.boton:hover:before{
    /*transform: rotate(45deg),scaleX(130%);*/
    background: rgba(255,255,255,0.1);
    transition: all ease 0.5s;
}

a.boton:hover:after{
    right: 130%;
}

a.boton:hover:before{
    left: 130%;
}


/* AHORA LOS BOTONES CON class="boton" tienen estilo*/
button.boton{
    position: relative;
    display: block;
    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 65px;
    margin-bottom: 60px;
    overflow: hidden;
    color:rgba(255,255,255,1);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
    transition: all ease 0.5s;
    background:#10B87B;
}

button.boton:after,
button.boton:before{
    width: 80px;
    height: 200px;
    content: '';
    display: block;
    background: rgba(255,255,255,0.5);
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right:-45%;
    cursor: pointer;
}

button.boton:before{
    left: -48%;
}

button.boton:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#12C987
}

button.boton:hover:after,
button.boton:hover:before{
    /*transform: rotate(45deg),scaleX(130%);*/
    background: rgba(255,255,255,0.1);
    transition: all ease 0.5s;
}

button.boton:hover:after{
    right: 130%;
}

button.boton:hover:before{
    left: 130%;
}



/* mateo mi amor la proxima usa un boton
    input con clase="mateomiamor" ahora tiene estilo
*/
input.mateomiamor{
    position: relative;
    display: block;
    padding: 25px 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 65px;
    margin-bottom: 60px;
    overflow: hidden;
    color:rgba(255,255,255,1);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
    transition: all ease 0.5s;
    background:#10B87B;
}

input.mateomiamor:after,
input.mateomiamor:before{
    width: 200px;
    height: 200px;
    content: '';
    display: block;
    background: rgba(255,255,255,0.5);
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right:-45%;
    cursor: pointer;
}

input.mateomiamor:before{
    left: -48%;
}

input.mateomiamor:hover{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    background:#12C987
}

input.mateomiamor:hover:after,
input.mateomiamor:hover:before{
    /*transform: rotate(45deg),scaleX(130%);*/
    background: rgba(255,255,255,0.1);
    transition: all ease 0.5s;
}

input.mateomiamor:hover:after{
    right: 130%;
}

input.mateomiamor:hover:before{
    left: 130%;
}


/*-------------------------------------------------------------------------*/
