<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>
    <link rel="icon" type="image/png" href="todo: icono q aparece en la pestania"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../estiloSelectYBoton.css">

</head>



<body style="" class = "d-flex flex-column min-vh-100">

<!-- re lindo esto background-color:#30a49c-->

{{>org_nav-bar.hbs}}

<div style=" text-align:center;">

    <div style="margin: 25px;">
        <h1> HC TOTAL POR TIPO DE ORGANIZACION</h1>
        <hr>
    </div>


    <div  style="padding-left: 30px; padding-top: 30px; border-radius:25px ; background-color:#2596be; width: 500px; margin-left: 33%; height:300px;">
        <form>

            <div style="margin-left:  20%;" class="content-select">
                <select required>
                    <option>Seleccione Organizacion</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
                <i></i>
            </div>

            <div id="wrapper"> <!-- hacer bien el href-->
                <div style="margin-left:12%; margin-top:10%;">
                    <button class="boton verde" > <span> CALCULAR </span></button>

                </div>
            </div>
        </form>


    </div>
</div>

</body>
</html>