
<nav id='menu'>
    <link rel="stylesheet" type="text/css" href="../../nav_bar.css">
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><img style="width:50px" src="/imagenes/logos_web/plantita1.png" /></li>
        <li><a href="/admin/home">Home</a></li>
        <li><a href='/admin/menu/guiarecomendaciones'>Guia de recomendaciones</a></li>
        <li><a class='dropdown-arrow' >Reportes</a>
            <ul class='sub-menus'>
                <li><a href='/admin/reportes/hctotalPORtipoOrg'>HC por tipo de organización</a></li>
                <li><a href='/admin/reportes/hctotalPORsectorterritorial'>HC por sector territorial</a></li>
            </ul>
        </li>
        <li> <form action="/session/delete" method="POST">
            <button style="background-color:black;height:57px" >Cerrar sesión</button>
        </form></li>
    </ul>
</nav>

<script>
    function updatemenu() {
        if (document.getElementById('responsive-menu').checked == true) {
            document.getElementById('menu').style.borderBottomRightRadius = '0';
            document.getElementById('menu').style.borderBottomLeftRadius = '0';
        }else{
            document.getElementById('menu').style.borderRadius = '0px';
        }
    }
</script>
