<!-- COPIE EL NAV VAR DE ORGANIZACION, CUANDO ESTEN HECHAS LAS RUTAS PARA EL MENU Y CERRAR SESION BORRAR ESTE COMENTARIO.-->

<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
          <img style="width:50px" src="../../imagenes/logos_web/plantita1.png" />
        <a class="navbar-brand" href="../admin/admin_principal.html">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pr-4">
                    <a class="nav-link active text-white" aria-current="page" href="../menu">Menu</a><!--MANDAR AL MENU DE USUARIO-->
                </li>
                <li class="nav-item pr-4">
                    <form action="/session/delete" method="POST">
                        <button style="background-color:#242c2c;border-color:#242c2c" type="submit" class="nav-link active text-white">
                            Cerrar sesion
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
