
    <nav id='menu'>
            <link rel="stylesheet" type="text/css" href="../../nav_bar.css">
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><img style="width:50px" src="/imagenes/logos_web/plantita1.png" /></li>
                <li><a href='/user/home'>Home</a></li>
                <li><a href="/user/menu/calculohc">Calculadora HC</a></li>
                <li><a class='dropdown-arrow' >Organizaciones</a>
                    <ul class='sub-menus'>
                        <li><a href="/user/menu/misorganizaciones">Mis organizaciones</a></li>
                        <li><a href='/user/menu/vincularaorganizacion'>Vinculaciones</a></li>
                    </ul>
                </li>
                <li><a class='dropdown-arrow'>Movimiento</a>
                    <ul class='sub-menus'>
                        <li><a href="/user/menu/registrartrayecto/mistrayectos">Ver mis trayectos</a></li>
                        <li><a href="/user/menu/registrartrayecto">Registrar trayecto</a></li>
                        <li><a href='/user/menu/registrartramo'>Crear tramos</a></li>
                    </ul>
                </li>
                <li><a href='/user/menu/guiarecomendaciones'>Guía de recomendaciones</a></li>
                <li>
                <form action="/session/delete" method="POST">
                <button style="background-color:black;height:57px" >Cerrar sesión</button>
                </form>
                </li>
            </ul>
        </nav>

<script>
    function updatemenu() {
  if (document.getElementById('responsive-menu').checked == true) {
    document.getElementById('menu').style.borderBottomRightRadius = '0';
    document.getElementById('menu').style.borderBottomLeftRadius = '0';
  }else{
    document.getElementById('menu').style.borderRadius = '0px';
  }
}
</script>