<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental</title>
     <link rel="icon" type="image/png" href="../../imagenes/logos_web/plantita1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>


<body style="background-color: #B9BAA3; "  class = "d-flex flex-column min-vh-100">

{{>nav-bar-admin.hbs}}


<div style=" text-align:center;   ">

    <div style="margin: 25px;">
        <h1 style="color:#0A100D;"> HC TOTAL DE ORGANIZACION</h1>
        <hr>
    </div>
</div>


    <div style="padding-left: 30px; padding-top: 30px; border-radius:25px ; background-color: antiquewhite; width: 500px; margin-left: 33%; height:300px;">

        <div style="margin:15px;">  <h5>Tipo de org: {{tipo}} </h5></div>
        <div style="margin:15px;">  <h5>Tiene un HC total de: {{resultado}} kgCO2eq </h5></div>

    </div>



</body>
</html>